<?xml version="1.0" encoding="UTF-8"?>

<rage__fwuiSystemSettingsCollection>
  <version value="37" />
  <configSource>kSettingsConfig_Auto</configSource>
  <graphics>
    <tessellation>kSettingLevel_High</tessellation>
    <shadowQuality>kSettingLevel_Ultra</shadowQuality>
    <farShadowQuality>kSettingLevel_Ultra</farShadowQuality>
    <reflectionQuality>kSettingLevel_High</reflectionQuality>
    <mirrorQuality>kSettingLevel_Ultra</mirrorQuality>
    <ssao>kSettingLevel_Ultra</ssao>
    <textureQuality>kSettingLevel_Ultra</textureQuality>
    <particleQuality>kSettingLevel_High</particleQuality>
    <waterQuality>kSettingLevel_High</waterQuality>
    <volumetricsQuality>kSettingLevel_Ultra</volumetricsQuality>
    <lightingQuality>kSettingLevel_Ultra</lightingQuality>
    <ambientLightingQuality>kSettingLevel_Ultra</ambientLightingQuality>
    <anisotropicFiltering value="4" />
    <dlssIndex value="0" />
    <dlssQuality value="5" />
    <dlssSharpen value="0.350000" />
    <fsr2Index value="0" />
    <fsr2Sharpen value="0.350000" />
    <taa>kSettingLevel_High</taa>
    <fxaaEnabled value="false" />
    <msaa value="0" />
    <graphicsQualityPreset value="1.000000" />
    <hdr value="true" />
    <hdr10PlusGaming value="false" />
    <hdrIntensity value="80" />
    <hdrPeakBrightness value="4100" />
    <hdrFilmicMode value="true" />
    <gamma value="9" />
    <hdrSettingsMigrated value="true" />
  </graphics>
  <advancedGraphics>
    <API>kSettingAPI_Vulkan</API>
    <locked value="false" />
    <asyncComputeEnabled value="false" />
    <transferQueuesEnabled value="true" />
    <shadowSoftShadows>kSettingLevel_Ultra</shadowSoftShadows>
    <motionBlur value="true" />
    <motionBlurLimit value="16.000000" />
    <particleLightingQuality>kSettingLevel_Medium</particleLightingQuality>
    <waterReflectionSSR value="true" />
    <waterRefractionQuality>kSettingLevel_High</waterRefractionQuality>
    <waterReflectionQuality>kSettingLevel_High</waterReflectionQuality>
    <waterSimulationQuality value="3" />
    <waterLightingQuality>kSettingLevel_Ultra</waterLightingQuality>
    <furDisplayQuality>kSettingLevel_Medium</furDisplayQuality>
    <maxTexUpgradesPerFrame value="5" />
    <shadowGrassShadows>kSettingLevel_High</shadowGrassShadows>
    <shadowParticleShadows value="true" />
    <shadowLongShadows value="true" />
    <directionalShadowsAlpha value="false" />
    <worldHeightShadowQuality value="1.000000" />
    <directionalScreenSpaceShadowQuality value="1.000000" />
    <ambientMaskVolumesHighPrecision value="true" />
    <scatteringVolumeQuality>kSettingLevel_Ultra</scatteringVolumeQuality>
    <volumetricsRaymarchQuality>kSettingLevel_Ultra</volumetricsRaymarchQuality>
    <volumetricsLightingQuality>kSettingLevel_Ultra</volumetricsLightingQuality>
    <volumetricsRaymarchResolutionUnclamped value="false" />
    <terrainShadowQuality>kSettingLevel_Ultra</terrainShadowQuality>
    <damageModelsDisabled value="false" />
    <decalQuality>kSettingLevel_High</decalQuality>
    <ssaoFullScreenEnabled value="true" />
    <ssaoType value="0" />
    <ssdoSampleCount value="4" />
    <ssdoUseDualRadii value="false" />
    <ssdoResolution>kSettingLevel_Low</ssdoResolution>
    <ssdoTAABlendEnabled value="true" />
    <ssroSampleCount value="2" />
    <snowGlints value="true" />
    <POMQuality>kSettingLevel_Ultra</POMQuality>
    <probeRelightEveryFrame value="false" />
    <scalingMode>kSettingScale_Mode1o1</scalingMode>
    <reflectionMSAA value="0" />
    <lodScale value="1.000000" />
    <grassLod value="3.000000" />
    <pedLodBias value="1.000000" />
    <vehicleLodBias value="0.000000" />
    <sharpenIntensity value="1.550000" />
    <treeQuality>kSettingLevel_Ultra</treeQuality>
    <deepsurfaceQuality>kSettingLevel_High</deepsurfaceQuality>
    <treeTessellationEnabled value="false" />
  </advancedGraphics>
  <video>
    <adapterIndex value="0" />
    <outputIndex value="0" />
    <resolutionIndex value="12" />
    <screenWidth value="1920" />
    <screenHeight value="1080" />
    <resolutionIndexWindowed value="12" />
    <screenWidthWindowed value="1920" />
    <screenHeightWindowed value="1080" />
    <refreshRateIndex value="7" />
    <refreshRateNumerator value="180" />
    <refreshRateDenominator value="1" />
    <windowed value="0" />
    <vSync value="0" />
    <tripleBuffered value="true" />
    <ReflexSettings>kSettingReflex_Off</ReflexSettings>
    <pauseOnFocusLoss value="false" />
    <constrainMousePointer value="false" />
  </video>
  <videoCardDescription>NVIDIA NVIDIA GeForce RTX 3070 Ti Laptop GPU</videoCardDescription>
</rage__fwuiSystemSettingsCollection>